/* TO BE IMPORTED FIRST ------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500,600|Lato:300,400,700');
@import "normalize.css";
@import "variables.css";

/* SORTED ALPHABETICALLY -----------------------------------------------------*/
@import "content-page-bgimg.css";
@import "emblem.css";
@import "fade-in.css";
@import "front.css";
@import "navigation.css";
@import "symbols.css";
@import "tb-content";
@import "typography.css";
@import "utilities.css";

/*------------------------------------------------------------------------------
  GENERAL STYLES
------------------------------------------------------------------------------*/

.main-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 auto;
  justify-content: center;
  width: 95vw;
}

@media screen and (min-width: 900px) {
  .main-content {
    width: 70vw;
  }
}

.logo {
  margin-top: 1rem;
  width: 100%;
}
