.button {
  background-color: var(--purple-full);
  border: none;
  box-shadow: 2px 2px 3px rgba(0,0,0, 0.2);
  color: var(--white);
  cursor: pointer;
  font-size: 1.2rem;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-smoothing: antialiased;
  min-width: 9rem;
  padding: 0.8rem 0;
  text-transform: uppercase;
  transition: background-color 750ms;
}

@media screen and (min-width: 1000px) {
  .form__button--chat {
    width: 100%;
  }
}

.button:focus,
.button__audio:focus {
  outline: none;
}

.button:hover {
  background-color: var(--blue);
}

/* Turns sound on/off, unique styling */
.button__audio {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 300;
  margin: 1rem;
  padding: 0;
  position: absolute;
  z-index: 1;
}


.front .button__audio {
  bottom: -0.3rem;
  left: 0;
}

.content-body__about .button__audio,
.content-body__join .button__audio,
.content-body__mission .button__audio,
.content-body__god .button__audio,
.content-body__bulldada .button__audio {
  top: 0rem;
  left: 0;
}
