.content-body {
  background-size: cover;
  width: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  padding-top: 10vh;
}

/* A filter that combines Bulldada purple and Kazakhstan blue */
.content-body::before {
  background-image: linear-gradient(to bottom right,var(--blue),var(--purple));
  bottom: 0;
  content: '';
  left: 0;
  opacity: 0.6;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.content-body__god {
  background-image: url('../assets/img/city-light.jpg');
}

.content-body__about {
  background-image: url('../assets/img/space.jpg');
}

.content-body__bulldada {
  background-image: url('../assets/img/scientific.jpg');
}

.content-body__join {
  background-image: url('../assets/img/meetings.jpg');
}

.content-body__mission {
  background-image: url('http://ichef.bbci.co.uk/wwfeatures/wm/live/1280_720/images/live/p0/4d/gk/p04dgk8r.jpg');
}
