.content-body {
  background-size: cover;
  width: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  padding-top: 10vh;
}

/* A filter that combines Bulldada purple and Kazakhstan golden */
.content-body::before {
  background-image: linear-gradient(to bottom right,var(--blue),var(--purple));
  bottom: 0;
  content: '';
  left: 0;
  opacity: 0.6;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.content-body__god {
  background-image: url('../assets/img/sunset.jpg');
}

.content-body__about {
  background-image: url('../assets/img/space-telescope.jpg');
}
