/*------------------------------------------------------------------------------
  FORM (USED IN CHAT AND SUBMISSION)
------------------------------------------------------------------------------*/

.form {
  box-sizing: border-box;
  background-image: linear-gradient(to bottom right,var(--blue),var(--purple));
  color: var(--white);
  padding: 2rem;
  width: 100%;
}

@media screen and (min-width: 800px) {
  .form .center-content {
    padding-left: 4.5rem;
  }
}

.form__input,
.form__input:focus,
.form__label {
  font-family: "Oswald", sans-serif;
}

@media screen and (min-width: 1000px) {

  /* Animation used if javascript is disabled */
  @keyframes slide-in {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(0);
    }
  }

  .form__chat {
    animation: slide-in;
    animation-delay: 1000ms;
    animation-duration: 450ms;
    animation-fill-mode: forwards;
    bottom: 0;
    box-shadow: 7px 7px 0 var(--shadow);
    margin-right: 2rem;
    position: fixed;
    padding: 2rem;
    right: 0;
    width: 20rem;
    transform: translateY(100%);
  }

  /* If javascript is enabled, chatt form will slide in on larger screens */
  .has-js .form__chat {
    animation: none;
    transform: translateY(100%);
    transition: transform 450ms ease-out;
  }

  .has-js .form__chat.slide-in {
    transform: translateY(0);
  }
}

.form__headline {
  font-size: 2rem;
  margin: 0;
  padding: 0;
}

.form__headline-long {
  line-height: 1.3;
  margin: 1rem 0 2rem;
}

.form__label {
  display: block;
  font-weight: 300;
  font-size: 0.9rem;
  margin: 0.5rem 0 0.2rem;
  text-transform: uppercase;
}

/* Used on the page 'Join us' */
.form__input {
  border-radius: 0;
  border: none;
  box-sizing: border-box;
  color: var(--dark);
  display: block;
  font-weight: 400;
  margin-bottom: 1rem;
  max-width: 30rem;
  padding: 0.5rem;
  width: 100%;
}

.form__input::placeholder {
  margin: 0;
  padding: 0.3rem 0;
}

.form__input:focus {
  font-weight: 400;
  outline: none;
}

.form__input:last-of-type {
  margin-bottom: 1.5rem;
}

.form__paragraph {
  margin: 0.4rem 0 1rem;
  padding: 0;
}

.form__textarea {
  box-sizing: border-box;
  border: transparent;
  color: var(--dark);
  font-family: 'Lato', sans-serif;
  margin-bottom: 1rem;
  overflow: hidden;
  padding: 0.5rem;
  width: 100%;
}

.form__textarea:focus {
  outline: none;
}
