/*------------------------------------------------------------------------------
  SYMBOLS (PLACED IN SCREEN CORNER)
------------------------------------------------------------------------------*/

/* All symbols except this in navigation will be absolute positioned */
.symbol:not(.symbol__nav) {
  position: absolute;
}

/* Symbols on front are only shown on screens larger than 900px */
.symbol__front {
  display: none;
}

/* This container is used in navigation */
.symbol-container {
  display: flex;
  flex-direction: column;
}

/* Symbols in navigation */
.symbol__nav {
  display: none;
}

@media screen and (min-height: 600px) {
  .symbol__nav {
    display: block;
    height: auto;
    width: 8rem;
    padding: 2.5rem;
  }
}

@media screen and (min-width: 900px) {
  .symbol__front {
    display: block;
    height: 8rem;
    margin: 1rem;
  }

  .symbol--top-left {
    top: 0;
    left: 0;
  }

  .symbol--top-right {
    top: 0;
    right: 0;
  }

  .symbol--bottom-right {
    bottom: 0;
    right: 0;
  }

  .symbol--bottom-left {
    bottom: 0;
    left: 0;
  }
}
