/*------------------------------------------------------------------------------
  SYMBOLS (PLACED IN SCREEN CORNER)
------------------------------------------------------------------------------*/

.symbol {
  display: none;
}


@media screen and (min-width: 900px) {
  .symbol {
    display: inline-block;
    position: absolute;
    height: 8rem;
    margin: 1rem;
  }

  .tb-content__symbol {
    height: 20rem;
    margin: 1rem 2rem;
    left: 0;
    top: 0;
  }

  .symbol--top-left {
    top: 0;
    left: 0;
  }

  .symbol--top-right {
    top: 0;
    right: 0;
  }

  .symbol--bottom-right {
    bottom: 0;
    right: 0;
  }

  .symbol--bottom-left {
    bottom: 0;
    left: 0;
  }
}
