.tb-content {
  background-color: var(--white);
  box-sizing: border-box;
}

/* Shown on content pages */
.tb-content__emblem {
  display: none;
}

.tb-content__img-container {
  display: block;
  position: relative;
  margin: 2rem 0;
  overflow: hidden;
}

.tb-content__img {
  /*min-height: 100%;*/
  display: block;
  width: 100%;
  object-fit: cover;
}

.tb-content__img-container::after {
    position: absolute;
    content: "";
    height:100%;
    width:100%;
    top:0;
    left:0;
    background-image: linear-gradient(to bottom right,var(--blue),var(--purple));
    opacity: 0.6;
}

/* Shown on page called 'bulldada.php' */
.tb-content__video {
  box-sizing: border-box;
  height: 15rem;
  margin: 2rem 0;
  width: 100%;
}

@media screen and (min-width: 600px) {
  .tb-content__video {
    box-sizing: border-box;
    border-left: 7px solid var(--purple);
    height: 19rem;
    margin: 1rem 2rem 0;
    padding: 2rem;
    width: 26rem;
  }
}

/* Shown on About page, an iframe from Spotify */
.tb-content__playlist {
  display: none;
}

@media screen and (min-width: 900px) {
  .tb-content__playlist {
    bottom: -20px;
    display: block;
    height: 100px;
    position: fixed;
    right: 0;
    width: 100%;
    z-index: 1;
  }
}

@media screen and (min-width: 600px) {
  .tb-content__emblem {
    display: block;
    filter: grayscale(1);
    height: 12rem;
    margin: 0.3rem 0 1rem;
    opacity: 0.5;
    width: 12rem;
  }
}

.tb-content__logo {
  display: none;
}

@media screen and (min-width: 800px) {
  .tb-content__logo {
    display: block;
    height: 4rem;
    margin: 0.4rem 1rem;
    left: 0;
    top: 0;
  }
}
