.tb-content {
  background-color: var(--white);
  box-sizing: border-box;
}

/* Shown on content pages */
.tb-content__emblem {
  display: block;
  filter: grayscale(1);
  height: 12rem;
  margin: 0.3rem 0 1rem;
  opacity: 0.5;
  width: 12rem;
}


.tb-content__logo {
  height: 4rem;
  margin: 0.4rem 1rem;
  left: 0;
  top: 0;
}
