body {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Oswald', sans-serif;
  font-size: 5rem;
  letter-spacing: 0.05em;
  margin: 0;
  text-transform: uppercase;
}

/*------------------------------------------------------------------------------
  PARAGRAPH
------------------------------------------------------------------------------*/

.tb-content__paragraph {
  line-height: 1.4;
}

.tb-content__paragraph::first-line {
  font-weight: 700;
}

.tb-content__paragraph::first-letter {
  font-size: 150%;
  font-weight: 700;
  line-height: 0;
}

/*------------------------------------------------------------------------------
  LINKS
------------------------------------------------------------------------------*/

.link {
  color: var(--white);
  font-size: 1.8rem;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: 0 0 23px var(--purple-transparent);
  transition: color 400ms ease-in, text-shadow 250ms ease-in;
}

.link:hover {
  text-shadow: 0 0 23px var(--purple-full);
  color: var(--purple);
}

.navigation__link.link {
  padding-bottom: 0.2em;
}
