body {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  color: var(--dark);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Oswald', sans-serif;
  font-size: 5rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.tb-content__headline {
  color: var(--white);
  font-size: 10rem;
  margin-bottom: 5rem;
  text-shadow: 2px 2px 5px var(--shadow);
}

/*------------------------------------------------------------------------------
  PARAGRAPH
------------------------------------------------------------------------------*/

.tb-content__paragraph {
  line-height: 1.4;
  padding-top: 2rem;
  width: 29rem;
  margin: 0;
}

.tb-content__paragraph:first-of-type {
  background-image: linear-gradient(to bottom right,var(--blue),var(--purple));
  box-shadow: 7px 7px 0 var(--shadow);
  font-size: 1.3rem;
  color: var(--white);
  padding: 1rem 2rem 4rem;
  margin-bottom: -3rem;
  position: relative;
  top: -3rem;
}

.tb-content__paragraph:last-of-type {
  padding-bottom: 10rem;
}

/*------------------------------------------------------------------------------
  LINKS
------------------------------------------------------------------------------*/

.link {
  color: var(--white);
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: 0 0 23px var(--purple-transparent);
  transition: color 400ms ease-in, text-shadow 250ms ease-in;
}

.link:hover {
  text-shadow: 0 0 23px var(--purple-full);
  color: var(--purple);
}

.link--nav {
  font-size: 2.5rem;
  line-height: 1.5;
}

.navigation__link{
  font-size: 1.8rem;
  text-transform: uppercase;
}
