body {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  color: var(--dark);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--white);
  font-family: 'Oswald', sans-serif;
  font-size: 5rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.tb-content__headline {
  font-size: 4rem;
  line-height: 1.1;
  margin-bottom: 6rem;
  padding: 0 2rem;
  text-shadow: 2px 2px 5px var(--shadow);
}

@media screen and (min-width: 450px) {
  .tb-content__headline {
    font-size: 5rem;
  }
}

@media screen and (min-width: 600px) {
  .tb-content__headline {
    padding: 0;
    font-size: 8rem;
  }
}

/*------------------------------------------------------------------------------
  PARAGRAPH
------------------------------------------------------------------------------*/

.tb-content__paragraph {
  box-sizing: border-box;
  line-height: 1.4;
  padding: 0.5rem 2rem;
  margin: 0;
  width: 100%;
}

.tb-content__paragraph:first-of-type {
  background-image: linear-gradient(to bottom right,var(--blue),var(--purple));
  font-size: 1.3rem;
  color: var(--white);
  padding: 3rem 2rem 4rem;
  margin-bottom: -1rem;
  position: relative;
  top: -3rem;
}

.tb-content__paragraph:last-of-type {
  padding-bottom: 5rem;
}

/* In need of extra padding due to Spotify playlist */
.content-body__about .tb-content__paragraph:last-of-type {
  padding-bottom: 10rem;
}

@media screen and (min-width: 600px) {
  .tb-content__paragraph {
    width: 30rem;
  }

  .tb-content__paragraph:first-of-type {
    box-shadow: 7px 7px 0 var(--shadow);
    padding: 1rem 2rem 4rem;
  }
}

/*------------------------------------------------------------------------------
  LINKS
------------------------------------------------------------------------------*/

.link {
  color: var(--white);
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: 0 0 23px var(--purple-transparent);
  transition: color 400ms ease-in, text-shadow 250ms ease-in;
}

.link:hover {
  text-shadow: 0 0 23px var(--purple-full);
  color: var(--purple);
}

.link--nav {
  font-size: 2.5rem;
  line-height: 1.5;
}

.navigation__link{
  font-size: 1.8rem;
  text-transform: uppercase;
}

/*------------------------------------------------------------------------------
  QUOTES
------------------------------------------------------------------------------*/

.quote {
  border-left: 7px solid var(--purple);
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 1.3rem;
  margin: 1rem 0;
  padding: 1.5rem 1rem;
  width: auto;
}
