.relative-container {
  position: relative;
}

.purple {
  color: var(--purple);
}

.bold {
  font-weight: 600;
}

.uppercase {
  text-transform: uppercase;
}

.italic {
  font-style: italic;
}

@media screen and (min-width: 600px) {
  .center-content {
    margin: 0 auto;
    width: 650px;
  }
}

.hidden {
  display: none;
}
